<%= form_for @cuisine do |f| %>
  <%= flash[:error] %>
  <% @cuisine.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "Enviar" %>
  </div>
<% end %>
